.main-menu {
  color: theme('colors.grey-text');

  svg {
    fill: theme('colors.grey-text');
  }
}

.main-menu-item {
  color: theme('colors.grey-text');
  font-weight: 500;

  &:hover {
    background-color: theme('colors.gray-hover');
  }

  svg {
    fill: theme('colors.grey-text');
  }
}

.main-menu-item.active {
  background-color: theme('colors.cyan-light');
  color: theme('colors.blue');

  svg {
    fill: theme('colors.blue');
  }
}
