.page-menu {
  color: theme('colors.grey-text');

  svg {
    fill: theme('colors.grey-text');
  }
}

.page-menu-item {
  &:hover {
    background-color: theme('colors.gray-hover');
  }
}

.page-menu-item__heading {
  color: theme('colors.blue');
  font-weight: 500;

  svg {
    fill: theme('colors.blue');
  }
}

.page-menu-item.active {
  background-color: theme('colors.cyan-light');
  color: theme('colors.blue');

  svg {
    fill: theme('colors.blue');
  }
}
